@import "https://unpkg.com/open-props@1.6.17/easings.min.css";

:root {
    --gradient: linear-gradient(90deg,
            #6eccee,
            #f672ca,
            #fdb428,
            #b9f);
    --red-sheen: linear-gradient(to bottom,
            hsl(12, 90%, 43%),
            hsla(12, 40%, 70%, 0.5) 50%,
            hsl(12, 93%, 23%));
}

body {
    color: white;
    /* Set text color to white */
    animation: background-fade-in 10s forwards;
    background: linear-gradient(to bottom, black, #02007c);
    background-size: 100% 200%;
    /* Ensures the gradient can move from top to bottom */
    background-position: top;
    margin: 0;
    /* Remove default margin */
    height: 100vh;
    /* Ensure the body takes full height */
    overflow: hidden;
    /* Prevent scrollbars during animation */
    font-family: 'Google Sans', 'Helvetica Neue', sans-serif;
    /* Apply font stack */
}

#welcomeMessage {
    font-size: 50px;
}

.text-center {
    text-align: center;
    /* Center align text */
}

.btn {
    background-color: #232323;
    color: #dadada;
    padding: 16px 24px;
    /* Increase padding for better button size */
    border: none;
    border-radius: 50px;
    /* Adjusted border radius */
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    /* Match font size with input */
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
    font-family: 'Google Sans', 'Helvetica Neue', sans-serif;
    /* Apply font stack */
    margin-top: 20px;
    /* Add margin to buttons */
    margin-left: 12px;
    margin-right: 12px;
    box-shadow: 2px 2px 3px #a7a7a7;
    text-transform: uppercase;
    perspective: 1000px;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: var(--red-sheen);
    /* Use the sheen color */
    transform: rotateZ(60deg) translate(-5em, 7.5em);
    pointer-events: none;
    /* Ensures the pseudo-element doesn't interfere with button clicks */
    transition: opacity 0.3s;
    /* Add a transition for smooth activation */
    opacity: 0;
    /* Initially hide the sheen */
}

.btn:hover::before {
    opacity: 1;
    /* Show the sheen on hover */
    animation: sheen 1s;
    /* Apply the sheen animation */
}

#logoutBtn:hover {
    background-color: #000144;
    color: #0084ff;
    transition-delay: 0.1s;
    /* Delay the background color change */
}

#openAppBtn:hover {
    background-color: #002c06;
    color:#00ce11;
    transition-delay: 0.1s;
    /* Delay the background color change */
}

#quitAppBtn:hover {
    background-color: #380000;
    color:#d60000;
    transition-delay: 0.1s;
    /* Delay the background color change */
}

.fade_in_bottom {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-bottom 1s ease-in-out forwards;
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes background-fade-in {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
}

@keyframes changeColor {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.animated-text-color {
    background: var(--gradient);
    background-size: 500%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: changeColor 20s infinite;
    /* Adjust duration as needed */
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}

/* [anim="sheen"]:not(.toggled)::after {
    animation: sheen var(--ease-elastic-in-1) 1s;
}

[anim="sheen"]::after {
    content: "";
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: var(--red-sheen);
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  } */